<h3> Buscar por region <small> {{ regionActiva | titlecase }}</small></h3>
<hr>
<div class="row">
    <div class="col">   
        <button *ngFor="let region of regiones"
     
        [class]="getClaseCSS(region) "        
        (click) ="activarRegion(region)">
            {{region | titlecase}}
        </button> 
    </div>

    <div *ngIf="paises.length>0" 
        class="row">
        <div class="col">
            <app-pais-tabla [paises]="paises"></app-pais-tabla>
        </div>
    </div>
</div>
<!-- //Le da una clase dependiendo de un condicion de js

[ngClass]="{
            'btn-primary': regionActiva === region,
            'btn-outline-primary': regionActiva !== region
        }"

-->